:root {
    --bg-color: #f8f9fa;
    --b-radius: 8px;
    --t-shadow: -4px 4px 10px #000;
    --b-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
    --b-color: rgba(0, 0, 0, .125);
    --svg-fill: #3a416f;

    --mavi: #3091d7;
}

body,
#adminmenuback,
#adminmenu,
#adminmenuback,
#adminmenuwrap {
    background-color: var(--bg-color) !important;
}

#adminmenuwrap {
    padding-left: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
}

#adminmenu li.menu-top:hover,
#adminmenu li.opensub>a.menu-top,
#adminmenu li>a.menu-top:focus {
    transition: unset !important;
    background: white !important;
    border-radius: var(--b-radius) !important;
    border-left: unset !important;
}

#adminmenu {

    >li {
        &:hover {
            transition: unset !important;

            &:after {
                border: unset !important;
                transition: unset !important;
                background: unset !important;
            }
        }

        padding: 0.25rem 0;

        >a {
            &:hover {
                color: var(--mavi) !important;

                .wp-menu-image {
                    background-color: var(--mavi) !important;

                    &:before {
                        color: white !important;
                    }
                }
            }

            display: flex;
            justify-content: flex-start;
            align-items: center;

            .wp-menu-image {
                display: flex !important;
                align-items: center;
                background-color: white;
                justify-content: center;
                height: 32px !important;
                width: 32px !important;
                border-radius: var(--b-radius);
                box-shadow: 0 0.25rem 0.375rem -.0625rem hsla(0, 0%, 8%, .12), 0 0.125rem 0.25rem -.0625rem hsla(0, 0%, 8%, .07) !important;

                &:before {
                    color: var(--svg-fill) !important;
                    padding: unset !important;
                }
            }

            .wp-menu-name {
                padding-left: 10px;
                flex: 1;
            }

            .update-plugins {
                background-color: var(--mavi) !important;
            }
        }
    }

    a {
        color: #67748e !important;

        &:not(.wp-menu-open):hover {
            box-shadow: unset !important;
            transition: unset !important;
        }
    }

    a.wp-menu-open {
        border-left: unset !important;
        box-shadow: unset !important;
    }

    a.wp-has-current-submenu:after,
    >li.current>a.current:after {
        display: none !important;
    }

    .wp-menu-open,
    .wp-submenu,
        {
        border-radius: var(--b-radius) !important;
        display: block !important;
        background-color: var(--mavi) !important;
        box-shadow: var(--b-shadow);

        >a {
            color: #252f40 !important;
            font-weight: 600;
        }
    }

    li.wp-has-submenu.wp-has-current-submenu.wp-menu-open {
        padding-bottom: unset !important;
        margin-bottom: 10px;
        background-color: var(--mavi) !important;

        a {
            color: white !important;

            .wp-menu-image {
                background-color: var(--mavi) !important;
                box-shadow: unset !important;

                &:before {
                    color: white !important;
                    background-color: unset !important
                }
            }
        }
    }
}

#adminmenu .wp-menu-arrow,
#adminmenu .wp-menu-arrow div,
#adminmenu li.current a.menu-top,
.folded #adminmenu li.current.menu-top,
.folded #adminmenu li.wp-has-current-submenu {
    background: white !important;

}

#wpcontent {
    margin-left: 200px;
    margin-right: 20px !important;
}

.postbox {
    border-radius: var(--b-radius);
    box-shadow: var(--b-shadow);
    border-color: var(--b-color);

    input,
    textarea,
    button,
    input[type='submit'] {
        border-color: var(--b-color);
    }
}

.postbox-header {
    border-bottom: 1px solid var(--b-color) !important;
}



/* contents */
.widefat thead td,
.widefat thead th,
.widefat tfoot td,
.widefat tfoot th,
.notice,
#menu-management .menu-edit,
#menu-settings-column .accordion-container,
.comment-ays,
.feature-filter,
.imgedit-group,
.manage-menus,
.menu-item-handle,
.popular-tags,
.stuffbox,
.widget-inside,
.widget-top,
.widgets-holder-wrap,
.wp-editor-container,
p.popular-tags,
table.widefat {
    border-color: var(--b-color) !important;
}

/* just border */
.notice {
    border-radius: var(--b-radius) !important;
}

#welcome-panel,
input,
table.wp-list-table,
select,
button,
.page-title-action {

    box-shadow: var(--b-shadow) !important;
    border-radius: var(--b-radius) !important;
    border-color: var(--b-color) !important;
}

/* colors */
.wrap a {
    color: var(--mavi);
}

.page-title>a {
    background-color: var(--mavi) !important;
    color: white !important;
    border: 1px solid var(--b-color) !important;
    box-shadow: var(--b-shadow);
}

.notice-warning.notice-alt {
    background-color: white !important;
}
